[submodule "tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized
[submodule "bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
