# Function key bindings
"\eOP":"\C-k \C-ucd ~/hub/keyboard\n"         ### <F01>
"\eOQ":"Bind me!"                    ### <F02>
"\eOR":"Bind me!"                    ### <F03>
"\eOS":"Bind me!"                    ### <F04>
"\e[15~":"Bind me!"                  ### <F05>
"\e[17~":"Bind me!"                  ### <F06>
"\e[18~":"Bind me!"                  ### <F07>
"\e[19~":"Bind me!"                  ### <F08>
"\e[20~":"\C-k \C-ucd ~/hub/dotfiles\n 
                git push\n 
                ~/.dotfiles-reset.sh\n "  ### <F09>
"\e[21~":"\C-k \C-ucd ~/hub/dotfiles\n"       ### <F10>
# MacOS: Show desktop                       ### <F11>
# MacOS: Show dashboard                     ### <F12>
